<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/vinod/IdeaProjects/DubFeature">
        <classes>
            <class name="testsuites.TestOnCreditTransactionFlow">
                <methods>
                    <include name="testOnlogin"/>
                </methods>
            </class>
            <class name="testsuites.TestOnDubEditorFlow"></class>
        </classes>
        
    </test>
</suite>